.header-bar {
  width: 100%;
  height: 56px;
}

.theme-dark .header-bar {
  background-color: #ffffff;
  color: #000000
}

.theme-light .header-bar {
  background-color: #000000;
  color: #ffffff;
}

.header-title {
  text-align: left;
  padding-left: 10px;
  padding-top: 16px;
  font-family: "Open Sans", sans-serif;
}